<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/add.css">
        <link rel="stylesheet" href="styles/sign.css">
        <link rel="stylesheet" href="styles/header.css">
        <title>{{{tittle}}}</title>
    </head>
    
    <body>

        <div class="header">
            <img src="images/worker.png" alt="">
            <ul class="nav">
                <li><a href="/">Головна сторінка</a></li>
                <li><a href="/add">Додати години</a></li>
                <li><a href="/look">Подивитися години</a></li>
            </ul>
            <div class="auth">
                <a href="sign">Зареєструватися</a>
                <a href="/log-in">Зайти</a>
            </div>
        </div>


        {{{body}}}
    </body>

</html>