<div class="registration">

    <form action="/auth" method="post" class="addData">

        <label for="login">Логін:</label>
        <input name="login" type="name">

        <label for="email">e-mail</label>
        <input name="email" type="email">

        <label for="password">Пароль:</label>
        <input name="password" type="password">

        <label for="repeat-password">Повторити пароль:</label>
        <input name="repeat-password" type="password">

        <label for="check">Одразу Залогуватися</label>
        <input name="check" type="checkbox">

        <button type="submit">Зареєструватися</button>
    
    </form>

</div>