/* .registration {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  border-radius: 5%;
  box-sizing: border-box;
  text-align: center;
}

.addData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
}

.addData input {
  width: 350px;
} */

.addData {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input[type="name"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

button[type="submit"] {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
